[submodule "unibot"]
	path = unibot
	url = git@github.com:meena-erian/unibot.git
[submodule "unicrm"]
	path = unicrm
	url = /home/menas/rf2/unicrm-submodule
[submodule "unicom"]
	path = unicom
	url = git@github.com:meena-erian/unicom.git
