[submodule "unibot"]
	path = unibot
	url = git@github.com:meena-erian/unibot.git
[submodule "unicrm"]
	path = unicrm
	url = git@github.com:meena-erian/unicrm.git
[submodule "unicom"]
	path = unicom
	url = git@github.com:meena-erian/unicom.git
